@page "/"
@page "/account/signin"

@inject NavigationManager NavManager
@inject ICarPriceService CarPriceService
@inject LocalStorageService LocalStorage
@inject AlertService AlertService

<div class="card">
    <h4 clas="card-header">Sign In</h4>
    <div class="card-body">
        <EditForm EditContext="@editContext">
            <DataAnnotationsValidator/>

            <div class="form-group">
                <label>Login</label>
                <InputText class="form-control" @bind-Value="@user.Login"/>
                <ValidationMessage For="() => user.Login"/>
            </div>
            <div class="form-group">
                <label>Password</label>
                <InputText class="form-control" @bind-Value="@user.Password" type="password"/>
                <ValidationMessage For="() => user.Password"/>
            </div>
            <button class="btn btn-primary" @onclick="SignIning">
                @if (isLoading)
                {
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                }
                Sign In
            </button>
            <NavLink href="account/signup" class="btn btn-link">Sign Up</NavLink>
        </EditForm>
    </div>
</div>

@code {
    private UserModel user = new();
    private EditContext editContext;
    private bool isLoading = false;

    protected override void OnInitialized()
    {
        editContext = new(user);
    }

    private async Task SignIning()
    {
        if (!editContext.Validate()) return;

        isLoading = true;

        await CarPriceService.SignInAsync(user);

        if (LocalStorage.Token is not null)
        {              
            NavManager.NavigateTo("calculate/carprice");
        }
            
        isLoading = false;
    }
}
