@page "/account/signup"

@inject NavigationManager NavManager
@inject ICarPriceService CarPriceService

<h4 >Регистрация</h4>

<div class="card border-primary mb-3 rounded">
    <div class="card-body">
        <EditForm EditContext="editContext">
            <DataAnnotationsValidator />
            @if (user.Password != retryPassword && retryPassword is not null)
            {
                <label class="text-danger">Пароли не совпадают</label>
            }

            <div class="form-group">
                <InputText class="form-control" @bind-Value="@user.Login" placeholder="Логин" />
                <ValidationMessage For="() => user.Login" />
            </div>
            <div class="form-group">
                <InputText class="form-control" @bind-Value="@user.Password" type="password" placeholder="Пароль" />
                <ValidationMessage For="() => user.Password" />
            </div>
            <div class="form-group">
                <InputText class="form-control" @bind-Value="@retryPassword" type="password" placeholder="Повторите пароль" />
            </div>
            <button class="btn btn-primary" @onclick="SignUping">
                @if (isLoading)
                {
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                }
                Зарегистрироваться
            </button>
            <NavLink href="account/signin" class="btn btn-link">Отмена</NavLink>
        </EditForm>
    </div>
</div>

@code {
    private UserModel user = new();
    private EditContext editContext;
    private bool isLoading = false;

    private string retryPassword = null;

    protected override void OnInitialized()
    {
        editContext = new(user);
    }

    private async Task SignUping()
    {
        if (retryPassword != user.Password)
        {
            return;
        }

        if (editContext.Validate())
        {
            isLoading = true;

            await CarPriceService.SignUpAsync(user);

            isLoading = false;
        }
    }
}