@page "/account/signin"

@inject CarPriceHttpClient HttpClient

<div class="card">
    <h4 clas="card-header">Sign In</h4>
    <div class="card-body">
        <EditForm Model="@user">
            <div class="form-group">
                <label>Login</label>
                <InputText class="form-control" @bind-Value="@user.Login"/>
            </div>
            <div class="form-group">
                <label>Password</label>
                <InputText class="form-control" @bind-Value="@user.Password"/>
            </div>
            <button class="btn btn-primary" @onclick="SignIning">Sign In</button>
            <NavLink href="account/signup" class="btn btn-link">Sign Up</NavLink>
        </EditForm>
    </div>
</div>

<p>Is Sign In: @isSignIn</p>

@code {
    private UserModel user = new();

    private bool isSignIn = false;

    private async Task SignIning()
    {
        isSignIn = await HttpClient.SignIn(user);
    }
}
