@page "/"
@page "/account/signin"

@inject CarPriceHttpClient HttpClient
@inject NavigationManager NavManager

<div class="card">
    <h4 clas="card-header">Sign In</h4>
    <div class="card-body">
        <EditForm Model="@user">
            <div class="form-group">
                <label>Login</label>
                <InputText class="form-control" @bind-Value="@user.Login"/>
            </div>
            <div class="form-group">
                <label>Password</label>
                <InputText class="form-control" @bind-Value="@user.Password"/>
            </div>
            <button class="btn btn-primary" @onclick="SignIning">
                @if (isLoading)
                {
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                }
                Sign In
            </button>
            <NavLink href="account/signup" class="btn btn-link">Sign Up</NavLink>
        </EditForm>
    </div>
</div>

@code {
    private UserModel user = new();
    private bool isLoading = false;

    private async Task SignIning()
    {
        isLoading = true;

        await HttpClient.SignInAsync(user);

        if (CarPriceHttpClient.IsSignIned)
        {
            isLoading = false;
            NavManager.NavigateTo("calculate/carprice");
        }
    }
}
