@inherits LayoutComponentBase

@inject LocalStorageService LocalStorage

<Alert/>

@if (LocalStorage.Token is not null)
{
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>
}
else 
{
    <div class="col-md-6 offset-md-3 mt-5">
        @Body
    </div>
}
